<table class="ui inverted blue celled single line table">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Code</th>
        <th>Temp (degC)</th>
        <th>Wind Speed (km/hr)</th>
        <th>Wind Direction(deg)</th>
        <th>Pressure (hPa)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    #{list items:_station.readings, as:'reading'}
    <tr>
        <td>
            ${reading.date}
        </td>
        <td>
            ${reading.code}
        </td>
        <td>
            ${reading.temperature}
        </td>
        <td>
            ${reading.windSpeed}
        </td>
        <td>
            ${reading.windDirection}
        </td>
        <td>
            ${reading.pressure}
        </td>
        <td>
            <a href="/station/${_station.id}/deletereading/${reading.id}">
                <button class="ui red submit button">Delete</button>
            </a>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>