#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"start"/}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        WeatherTop About Page
    </h1>
    <p>
        WeatherTop is a web application that will allow the user to add a weather Station to it and then record the
        readings for that station. <br><br>
        Summary cards will be provided for each station showing the latest readings and trending information over the
        last three readings that are recorded.<br><br>
        Information that can be recorded is the general weather conditions, temperature, wind speed, wind direction and
        atmospheric pressure.
    </p>
</section>