#{extends 'main.html' /}
#{set title: 'Readings' /}

#{menu id:"dashboard"/}

<section class="ui segment">
    <div class="ui five cards">
        <div class="ui card">
            <div class="content">
                <i class="right floated huge blue compass icon"></i>
                <div class="header">${station.name}</div>
                <div class="description">
                    <p>Lat: ${station.lat}</p>
                    <p>Lng: ${station.lng}</p>
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <i class="right floated huge blue ${latestReading.weatherIcon}"></i>
                <div class="header">Weather</div>
                <div class="description">
                    <p>${latestReading.weatherDesc}</p>
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <i class="right floated huge blue temperature low icon"></i>
                <div class="header">Temp</div>
                <div class="description">
                    <p>${latestReading.tempC} degC</p>
                    <p>${latestReading.tempF} degF</p>
                    <p>Max: ${latestReading.maxTempC} degC</p>
                    <p>Min: ${latestReading.minTempC} degC</p>
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <i class="right floated blue huge wind icon"></i>
                <div class="header">Wind</div>
                <div class="description">
                    <p>${latestReading.windBft} bft</p>
                    <p>${latestReading.windDirectionString}</p>
                    <p>Feels like</p>
                    <p>${latestReading.windChill}</p>
                    <p>Max: ${latestReading.maxWindSpd}</p>
                    <p>Min: ${latestReading.minWindSpd}</p>
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <i class="right floated blue huge ${latestReading.weatherIcon}"></i>
                <div class="header">Pressure</div>
                <div class="description">
                    <p>${latestReading.pressure} hPa</p>
                    <p>Max: ${latestReading.maxPressure}</p>
                    <p>Min: ${latestReading.minPressure}</p>
                </div>
            </div>
        </div>
    </div>
    #{listreadings station:station/}
</section>
#{addreading station:station/}


