#{extends 'main.html' /}
#{set title: 'Readings' /}

#{menu id:"dashboard"/}

<section class="ui segment">
    <div class="ui five cards">
        <div class="ui card">
            <div class="content">
                <i class="right floated huge blue compass icon"></i>
                <div class="header">${station.name}</div>
                <div class="description">
                    <p>Lat: ${station.lat}</p>
                    <p>Lng: ${station.lng}</p>
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <i class="right floated huge blue ${station.summary.weatherIcon}"></i>
                <div class="header">Weather</div>
                <div class="description">
                    <p>${station.summary.weatherDesc}</p>
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <i class="right floated huge blue temperature low icon"></i>
                <div class="header">Temp</div>
                <div class="description">
                    <p>${station.summary.tempC} degC</p>
                    <p>${station.summary.tempF} degF</p>
                    <p>Max: ${station.summary.maxTempC} degC</p>
                    <p>Min: ${station.summary.minTempC} degC</p>
                </div>
                <i class="right floated blue ${trendingVals.tempTrend}"></i>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <i class="right floated blue huge wind icon"></i>
                <div class="header">Wind</div>
                <div class="description">
                    <p>${station.summary.windBft} bft</p>
                    <p>${station.summary.windDirectionString}</p>
                    <p>Feels like: ${station.summary.windChill} degC</p>
                    <p>Max: ${station.summary.maxWindSpd} km/hr</p>
                    <p>Min: ${station.summary.minWindSpd} km/hr</p>
                </div>
                <i class="right floated blue ${trendingVals.windTrend}"></i>
            </div>
        </div>
        <div class="ui card">
            <div class="content">
                <i class="right floated blue huge globe icon"></i>

                <div class="header">Pressure</div>
                <div class="description">
                    <p>${station.summary.pressure} hPa</p>
                    <p>Max: ${station.summary.maxPressure}</p>
                    <p>Min: ${station.summary.minPressure}</p>
                </div>
                <i class="right floated blue ${trendingVals.pressTrend}"></i>
            </div>
        </div>
    </div>
    #{listreadings station:station/}
</section>
#{addreading station:station/}



